@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: auto;
}

body {
    margin: 0;
    padding: 0;
    color: #B3AFB2;
}

#content {
    background-image: url('../assets/img/background.png');
    background-size: cover;
    padding: 9vh 0 10vh 0;
}

#main_container {
    display: flex;
    margin: 0 8vw 0 8vw;
    border: 5px solid #F5C324;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(8, 21, 30, 0.6) 3.62%, rgba(8, 10, 11, 0.6) 63.02%, rgba(3, 3, 8, 0.6) 100%);
}

#sidebar {
    width: 20vw;
    height: 80vh;
    background: #08151E;
    border-radius: 20px 0px 0px 20px;
    color: #B3AFB2;
    font-size: 1.4vw;
    padding-right: 2.5vw;
}

#welcome {
    margin: 5vh 0 5vh 2vw;
}

#welcome #name {
    font-weight: 700;
}

.navmenu a {
    color: #B3AFB2;
}

.navmenu_list {
    margin-left: 2.8vw;
}

.navmenu_list li {
    list-style: none;
    margin: 2vh 6vh 2vh 0;
    border-radius: 0.5vh;
    display: flex;
    align-items: center;
    color: #B3AFB2;
}

.navmenu_list .button_selected {
    margin: 0 1.4vh 0 0;
}

.navmenu_list #especies {
    color: #08151C;
    background-color: #FEC600;
}

.navmenu_list li .icone_container_selected {
    background-color: #FEAA00;
    width: 6vh;
    height: 6vh;
    border-radius: 0.5vh;
    margin-right: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navmenu_list li .icone_container {
    width: 6vh;
    height: 6vh;
    margin-right: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navmenu_list li .icone {
    width: 4vh;
}

.navmenu_start {
    padding-bottom: 2vh;
}

.linespace {
    border: 1px solid #FEAA00;
    margin: 0 1.4vh 0 6vh;
}

.navmenu_end {
    padding-top: 2vh;
}

.container2 {
    padding: 6vh 8vh 6vh 4vh;
}

.container2_header {
    width: 58vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container2_header .logo {
    display: flex;
    align-items: center;
}

.container2_header #title {
    font-size: 4.5vh;
    color: #FEAA00;
    margin-left: 1.5vw;
}

.container2_header .logotipo {
    width: 4vw;
}

.container2_header .inputs {
    display: flex;
}

.container2_header .inputs .notification {
    height: 4vh;
    margin-right: 1.3vw;
}

.container2_header .inputs #pesquisa {
    background-color: transparent;
    border: 1px solid #FEC600;
    width: 13vw;
    padding: 0.3vw 0.8vw 0.3vw 0.8vw;
    border-radius: 0.3vw
}

.container2_header .inputs #pesquisa::placeholder {
    background-image: url(../assets/icon/header_pesquisa_icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    color: #B3AFB2;
}

.especies_grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    background: #08151E;
    border: 1px solid #B3AFB2;
    border-radius: 1vh;
    padding: 3vh 2vh;
    height: 45vh;
}

.especies_grid .especies_container {
    border: 1px solid #B3AFB2;
    border-radius: 1vh;
    padding: 3vh 2vh;
    margin: 1vh 2.4vh;
    display: flex;
    font-size: 1.7vh;
}

.especies_grid .especies_container .especies_content {
    width: 16vh;
    height: 12vh;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.especies_grid .especies_container .especies_content .especies_linespace {
    border: 0.1vh groove #B3AFB2;
    width: 14.6vh;
}

.especies_grid .especies_container .especies_imagem {
    border: 1.5px solid #FEC600;
    border-radius: 0.5vh;
    padding: 1vh;
    margin-top: 1vh;
    height: 8vh;
    width: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.especies_grid .especies_container .especies_imagem img{
    width: 100%;
    height: 100%;
}
.especies_grid .especies_container .nome_especie {
    font-weight: 700;
}

::-webkit-scrollbar {
    width: 0;
}