@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: auto;
}

body {
    margin: 0;
    padding: 0;
}

#content {
    background-image: url('../assets/img/background.png');
    background-size: cover;
    padding: 8.7vh 0 10vh 0;
}

#main_container {
    display: flex;
    margin: 0 8vw 0 8vw;
    border: 5px solid #F5C324;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(8, 21, 30, 0.6) 3.62%, rgba(8, 10, 11, 0.6) 63.02%, rgba(3, 3, 8, 0.6) 100%);
}

#sidebar {
    width: 20vw;
    height: 80vh;
    background: #08151E;
    border-radius: 20px 0px 0px 20px;
    color: #B3AFB2;
    font-size: 1.4vw;
}

#welcome {
    margin: 5vh 0 5vh 2vw;
}

#welcome #name {
    font-weight: 700;
}

.navmenu a {
    color: #B3AFB2;
}

.navmenu_list {
    margin-left: 2.8vw;
}

.navmenu_list li {
    list-style: none;
    margin: 2vh 6vh 2vh 0;
    border-radius: 0.5vh;
    display: flex;
    align-items: center;
    color: #B3AFB2;
}

.navmenu_list #painel {
    color: #08151C;
    background-color: #FEC600;
}

.navmenu_list li .icone_container_selected {
    background-color: #FEAA00;
    width: 6vh;
    height: 6vh;
    border-radius: 0.5vh;
    margin-right: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navmenu_list li .icone_container {
    width: 6vh;
    height: 6vh;
    margin-right: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navmenu_list li .icone {
    width: 4vh;
}

.navmenu_start {
    padding-bottom: 2vh;
}

.linespace {
    border: 1px solid #FEAA00;
    margin: 0 6vh;
}

.navmenu_end {
    padding-top: 2vh;
}


.container2 {
    padding: 6vh 8vh 2vh 4vh;
    color: #B3AFB2;
}

.container2_header {
    width: 58vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container2_header .logo {
    display: flex;
    align-items: center;
}

.container2_header #title {
    font-size: 4.5vh;
    color: #FEAA00;
    margin-left: 1.5vw;
}

.container2_header .logotipo {
    width: 4vw;
}

.container2_header .inputs {
    display: flex;
}

.container2_header .inputs .notification {
    height: 4vh;
    margin-right: 1.3vw;
}

.container2_header .inputs #pesquisa {
    background-color: transparent;
    border: 1px solid #FEC600;
    width: 13vw;
    padding: 0.3vw 0.8vw 0.3vw 0.8vw;
    border-radius: 0.3vw
}

.container2_header .inputs #pesquisa::placeholder {
    background-image: url(../assets/icon/header_pesquisa_icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    color: #B3AFB2;
}

.container2_body {
    display: flex;
    padding-top: 4vh;
}

.container2_body .container2_body_left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 55vh;
}

.container2_body .container2_body_left .dashboard_left_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container2_body .container2_body_left .dashboard_left_header .conteudo_condensado {
    background: #08151E;
    border: 1px solid #B3AFB2;
    border-radius: 1vh;
    display: flex;
    padding: 2vh 1.35vh;
    align-items: center;
    margin-bottom: 3vh;
}

.dashboard_left_header .conteudo_condensado img {
    width: 5vh;
}

.dashboard_left_header .conteudo_condensado .conteudo_condensado_content {
    display: flex;
    flex-direction: column;
    margin-left: 0.7vh;
}

.conteudo_condensado_content .subtitle {
    font-size: 1.5vh;
    font-style: italic;
    margin-bottom: 0.5vh;
}

.conteudo_condensado_content .valor {
    font-size: 2.5vh;
}

.container2_body_left .grafico_container {
    background: #08151E;
    border: 1px solid #B3AFB2;
    border-radius: 1vh;
    padding: 2vh;
    color: #B3AFB2;
    font-size: 1.8vh;
    width: 45vh;
}

.container2_body_left .grafico_container section {
    width: 45vh;
    margin-top: 1vh;
}

.container2_body_right .colmeias {
    display: flex;
    padding: 1.2vw 0.7vw;
    margin: 0 0 0 2vw;
    background: #08151E;
    border: 1px solid #B3AFB2;
    border-radius: 1vh;
    height: 55vh;
    flex-direction: column;
}

.container2_body_right .colmeias .colmeias_header {
    display: flex;
    align-items: center;
    padding-left: 2vh;
}

.container2_body_right .colmeias .colmeias_header img {
    width: 6.5vh;
}

.container2_body_right .colmeias .subtitle {
    font-size: 1.5vw;
    padding: 0 0 0 3vh;
    margin: 0;
}

.container2_body_right .colmeias .colmeias_links {
    display: flex;
    margin: 1vh 0.5vh;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.container2_body_right .colmeias .colmeias_links a {
    border: 1.5px solid #FEC600;
    border-radius: 5px;
    padding: 1.2vh 1.5vh;
    margin: 1vh 0.5vh;
    color: #B3AFB2;
}

.container2_body_right .colmeias .colmeias_links a .medicao_colmeia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vh 0;
}

.container2_body_right .colmeias .colmeias_links a .medicao_colmeia .nome_colmeia {
    align-self: flex-start;
    padding-left: 1vh;
}

.container2_body_right .colmeias .colmeias_links a .medicao_colmeia .medicao_colmeia_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2vh;
}

.medicao_colmeia .medicao_colmeia_content img {
    width: 2.7vh;
}

.medicao_colmeia .medicao_colmeia_content .umid_img {
    margin-left: 1.5vh;
}

.medicao_colmeia .situacao {
    background-color: limegreen;
    height: 2vh;
    width: 5vw;
}

::-webkit-scrollbar {
    width: 0;
}